<div class="clearfix">
<h2 class="pull-left no-spacing">Posts</h2>
<div class="pull-right">
	<button type="button" class="btn btn-primary">
		<span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
		Create New Post
	</button>
	<div class="dropdown pull-right margin-left">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			Bulk Actions <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
		  <li><a href="#">Update Status</a></li>
		  <li><a href="#">Modify Taxonomy</a></li>
		  <li><a href="#">Delete</a></li>
		</ul>
	</div>
</div>
</div>
<hr />
<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Post Title</th>
			<th>Author</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{{#each model.data as |post|}}
			<tr>
				{{partial "partials/post"}}
			</tr>
		{{/each}}
	</tbody>
</table>
<div class="margin-bottom margin-left">
	{{partial "partials/pagination"}}
</div>